.authorization {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.input {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.button {
    display: flex;
    flex-direction: row;
}