.body {
    width: 1440px;
    height: 900px;
    margin: auto;
    padding: 0;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mainBody {
    width: 100%;
    height: 700px;
}

.headerBody, .footerBody {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #662225;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

.divNameOfSection {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.nameOfSection {
    color: white;
    font-size: 35px;
}

.inputChangePages {
    position: absolute;
    left: 40px;
    right: 0px;
    top: 30px;
    bottom: 0px;
    height: 40px;
    width: fit-content;
}

.userProfile {
    float: right;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.githubIcon {
    position: absolute;
    left: 20px;
    top: 810px;
    width: 80px;
    height: 80px;
    display: inline-block;
    background: black;
    transition: 1.2s;
    mask-image: url("/source/gitIcon.svg");
    -webkit-mask-image: url("/source/gitIcon.svg");
}

.githubIcon:hover {
    cursor: pointer;
    background: #a84949;
}

.yearCreation {
    color:white;
    font-size:20px;
}

.bsuirIcon {
    float:right;
    width: 80px;
    height: 80px;
    border: solid;
    border-width: 4px;
    margin-right: 18px;
    margin-top: 6px;
    border-color:#662225;
    transition: 1.2s;
}

.bsuirIcon:hover {
    cursor: pointer;
    border-color:#08023e;
}